<section>
    <h2 class="text-xl font-bold mb-4">Configuración del juego</h2>

    <mat-accordion class="example-headers-align">

        <!-- Fuente de Preguntas -->
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title> Fuente de Preguntas </mat-panel-title>
                <mat-panel-description>
                    {{isQuizAvailable() ? selectedQuiz()?.name : 'Seleccionar fuente de preguntas'}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            @if (isMultipleQuiz()) {
                <p>No hay fuentes de preguntas disponibles</p>
            } @else if (isQuizAvailable() && isSingleQuiz()) {
                <p>Unica fuente de preguntas disponible: {{selectedQuiz()?.name}}</p>
            } @else {
                <div>
                    @for (quiz of quizList(); track $index) {
                        <div class="outline">
                            <h3>{{quiz.name}}</h3>
                            <span>{{quiz.id}}</span>
                            <p>{{quiz.url}}</p>
                        </div>
                    }
                </div>
            }
            

        </mat-expansion-panel>

        <!-- Categorías -->
        <mat-expansion-panel [disabled]="!isQuizAvailable()">
            <mat-expansion-panel-header>
                <mat-panel-title> Categorias </mat-panel-title>
                <mat-panel-description>
                    {{isCategoryAvailable() ? selectedCategory()?.category : 'No hay categorias disponibles'}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <section class="w-full h-full flex flex-wrap p-4">
                @if (hasCategories()) {
                    @for (c of categoryList(); track $index) {

                        @if (c.enable) {
                            @if (c.id === selectedCategory()?.id) {
                                <div class="w-fit py-2 px-4 rounded-md border m-1 hover:cursor-pointer bg-blue-500"
                                    (click)="handleCategorySelection(c)">{{ c.category }}
                                </div>
                            } @else {
                                <div class="w-fit py-2 px-4 rounded-md border m-1 hover:cursor-pointer hover:bg-blue-500"
                                    (click)="handleCategorySelection(c)">{{ c.category }}
                                </div>
                            }
                        }
                    }
                } @else {
                    <p>No hay categorías disponibles.</p>
                }
            </section>
        </mat-expansion-panel>

        <!-- Modo de juego -->
        <mat-expansion-panel [disabled]="!isQuizAvailable()">
            <mat-expansion-panel-header>
                <mat-panel-title> Modo de juego </mat-panel-title>
                <mat-panel-description>
                    {{isGameModeAvailable() ? gameMode()?.field : 'seleccionar modo de juego'}}
                    <!-- <mat-icon>date_range</mat-icon> -->
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="grid md:grid-cols-2 gap-4">
                @for (mode of modos; track $index) {
                    <div class="border rounded-lg p-4 hover:shadow cursor-pointer"
                        (click)="handleGameModeSelection(mode)"                
                        [class.border-blue-600]="mode.name === gameMode()?.name"
                    >
                        <h4 class="font-bold">{{ mode.field }}</h4>
                        <p class="text-sm text-gray-600">{{ mode.description }}</p>
                    </div>
                }
            </div>

        </mat-expansion-panel>

        <!-- Cantidad de preguntas -->
        <mat-expansion-panel [disabled]="!isQuizAvailable()">
            <mat-expansion-panel-header>
                <mat-panel-title> Cantidad de preguntas </mat-panel-title>
                <mat-panel-description>
                    {{isQuestionCount() ? questionCount() : 'seleccionar cantidad de preguntas'}}
                    <!-- <mat-icon>date_range</mat-icon> -->
                </mat-panel-description>
            </mat-expansion-panel-header>
                
                <div class="w-full h-full flex flex-wrap p-4">
                    @for (q of cantidades; track $index) {
                        @if (q === questionCount()) {
                            <div class="w-fit py-2 px-4 rounded-md border m-1 hover:cursor-pointer bg-blue-500"
                                (click)="handleNumberQuestionSelection(q)">{{ q }}
                            </div>
                        } @else {
                            <div class="w-fit py-2 px-4 rounded-md border m-1 hover:cursor-pointer hover:bg-blue-500"
                                (click)="handleNumberQuestionSelection(q)">{{ q }}
                            </div>
                        }
                    }
                </div>
        </mat-expansion-panel>
    </mat-accordion>

   
    <button
        class="mt-6 bg-green-600 text-white px-6 py-2 rounded hover:bg-green-700 transition"
        (click)="startGame()"> Comenzar
    </button>
</section>

