<section class="w-1/2 p-2 mt-12 m-auto flex flex-col items-center gap-6">
    <button class="shadow w-full p-4 rounded-full text-4xl font-bold text-center bg-emerald-400 hover:cursor-pointer"
        type="button"
        (click)="go('setup')">JUGAR
    </button>
    <button class="shadow w-3/4 p-4 rounded-full text-2xl font-bold text-center bg-purple-400 hover:cursor-pointer"
        type="button"
        (click)="go('ranking')">Mejores Resultados
    </button>
    <button class="shadow w-2/4 p-4 rounded-full text-2xl font-bold text-center bg-cyan-400 hover:cursor-pointer"
        type="button"
        (click)="go('how-to')">¿Como Jugar?
    </button>
</section>